.tr-wc-rulesModal-emptyView-panel {
  position: absolute;
  bottom: 8px;
  left: 88px;
}

.tr-wc-rulesModal-emptyView-line {
  width: 230px;
  color: #ccc;
}

.tr-wc-rulesModal-emptyView-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: -11px;
  right: -180px;
  width: 170px;
  font-size: 16px;
}
