@keyframes backdrop-trans {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

.tr-wc-backdrop-root {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: 9999998;
  background: #000;
  animation-name: backdrop-trans;
  animation-duration: 250ms;
}
