.tr-wc-iconButton-root {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  appearance: none;
  cursor: pointer;
  background: none;
  color: #220C4A;
  box-sizing: border-box;
  text-decoration: none !important;
  outline: none !important;
  padding: 0;
}

.tr-wc-iconButton-icon {
  width: 20px;
}
