.tr-wc-rulesModal-container {
  width: 60vw;
  max-width: 1000px;
  min-width: 800px;
}

.tr-wc-rulesModal-contentPanel {
  height: 500px;
}

.tr-wc-rulesModal-content {
  position: relative;
  margin-top: 16px;
}

.tr-wc-rulesModal-footerContainer {
  display: flex;
  justify-content: space-between;
}
