.tr-wc-Rule-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  box-sizing: border-box;

  &:not(:last-child) {
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e4e7;
  }
}

.tr-wc-Rule-ruleContainer {
  display: flex;
  flex: 1 auto;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 16px;

  & > * {
    flex: 1;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.tr-wc-Rule-select,
.tr-wc-Rule-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #220C4A;
  height: 32px;

  &:disabled {
    color: #B8B8B8;
    background-color: #F5F5F5;
    outline: none;
  }

  &:hover:not(:disabled) {
    border-color: transparent !important;
    outline: 2px #AE97FF solid;
  }

  &:active:not(:disabled), &:focus:not(:disabled) {
    border-color: transparent !important;
    outline: 2px #8000FF solid;
  }
}

.tr-wc-Rule-input {
  padding: 0 8px;
}


