.tr-wc-logEntry-table {
  padding: 8px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  td {
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  table tr {
    td {
      border-top: none;
      border-left: none;
      border-right: none;
    }

    &:last-child {
      td {
        border: none;
      }
    }
  }
}

.tr-wc-auditLogModal-dataCell {
  box-sizing: border-box;
  padding: 0 4px;
}
